1- CREATE ENV FILE 
.env.local 

2- ADD LOCAL BACKEND ADDRESS

NEXT_PUBLIC_BASE_API_URL="http://localhost:<backend-port>/api"



# NOTES: backend application is forced to use port 5196 however, check first your local port 
# http://localhost:5196/swagger/index.html

#or 
#http://localhost:<PORT-NUMBER>/swagger/index.html 

